/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Lato', sans-serif;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 48px;

}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #2196F3;
    color: white;
    height: 460px;
}

.container {
    width: 80%;
    margin: auto;
}

.logo {
    float: left;
}

.logo p {
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px;
}

.primary-nav {
    text-align: right;
    padding-top: 25px;

}

.nav li {
    display: inline-block;
    padding: 10px;

}

.hero-text {
    position: absolute;
    top: 220px;
    left: 480px;
    text-align: center;
}
.hero-text h1{
font-weight: 300;
padding: 36px;

}
.hero-text p{
    font-weight: 200;
    opacity: .8;
}

article {
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding: 25px 0px 0px 25px;
}

article h3 {
    color: #2196F3;
    padding: 66px 0px 25px 0px;
}
article p{
    line-height: 1.5;
    font-weight: 200;
}

article a {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
}

 .product{
     background-color: white;
 } 
  main{
      background-color: #2196F3;
  }
  
 /* Clearfix */

.cf::before,
.cf::after {
    content: '';
    display: table;
}

.cf::after {
    clear: both;
}
.dev{
    padding: 66px;
    margin-top: 66px;
 }
.user{
    float: left;
    width: 20%;
}
.user p{
    color: white;
    padding: 20px;
}
.user{
     text-align: center;
    border: 1px solid #f2f2f2f2;
    margin: 10px;
   
}
.user img{
    display: inline-block;
    width: 80%;
    margin: 25px auto;
    border-radius: 50%;
      
}

.user-text{
    text-align: center;
    color: white;
    padding: 25px;
    font-weight: 300;
}
.user-text p{
padding: 15px;
font-weight: 200;
}
.user-text h1{
    font-weight: 300;
}